%h1= @greeting

%p= "You are now being followed by #{@follower.name} (#{@follower.username})"

%p= "Check out his profile page to see what he's up to!"

= link_to("#{@follower.name}'s Profile", user_url(@follower))