= f.label :name, "Name"
= f.text_field :name

= f.label :email, "Email"
= f.text_field :email

= f.label :password, "Password"
= f.password_field :password

= f.label :password_confirmation, "Confirm Password"
= f.password_field :password_confirmation

= f.submit text, disable_with: disabled_text, class: "btn-large btn-primary"