- provide(:title, @user.name)
- content_for :head, auto_discovery_link_tag(:atom, user_url(@user,format: "atom"))
.row
  %aside.span4
    %section
      %h1
        = gravatar_for @user
        = @user.name
        = link_to image_tag("feed-icon-14x14.png"), user_url(@user,format: "atom")
    %section
      = render "shared/stats"
  .span8
    = render "follow_form" if signed_in?
    - if @user.microposts.any?
      %h3 Microposts (#{ @user.microposts.count })
      %ol.microposts
        = render @microposts
      = will_paginate @microposts
