= form_for(@micropost, remote: true) do |f|
  = render "shared/error_messages", object: f.object
  .field
    = f.text_area :content, placeholder: "Compose new micropost...", class: "micropost_form"
    %p#counter.text-right= Micropost.validators_on(:content)[1].options[:maximum]
    = f.hidden_field :in_reply_to, value: in_reply_to
    = f.submit "Post", disable_with: 'Posting...', class: "btn btn-large btn-primary"